#container{
    background-color: aqua;
    width: 600px;
    height: 600px;
}

#div-filha{
    background-color: black;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 100px;
    animation: animationSquare 9s infinite
}
#div-filha2{
    
background-color: red;
width: 80px;
height: 80px;
position: absolute;


top: 20px;
animation: animationSquare 9s infinite;
animation-delay: 5s;
}


@keyframes animationSquare{
   0%{
    left: 20px;
    top: 20px;

   }

   30%{
    top: 20px;
    left: 250px;
    
   }

   50%{
    left: 300px;
    top: 20px
   }

   70%{
    left: 300px;
    top: 150px
   }

   90%{
    left: 0px;
    top: 150px;
   }

   100%{
    top: 20px;
    left: 0px;
    
   }
}
